<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/_CollectionLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
</head>
<body>
    <div>
        <nav class="navbar">
            <div  class="navbar-left">
                <h1><a asp-action="Index" asp-controller="Collection" class="brand-link">TrackFlix</a></h1>
            </div>
            <div class="navbar-center">
                <a asp-action="GetMoviesPage" asp-controller="Collection">Movies</a>
                <a asp-action="GetShowsPage" asp-controller="Collection">Shows</a>
                <a asp-action="GetMyListPage" asp-controller="User">My List</a>
            </div>
            @if (!ViewData["Title"]!.Equals("My List"))
            {
                <div class="navbar-right">
                    <form asp-action="Search" asp-controller="Collection" method="get" class="search-form">
                    <input type="text" name="query" placeholder="Search..." />
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <img src="https://i.pravatar.cc/32" alt="User Icon" />
                </div>
            }
        </nav>
        @RenderBody()
    </div>

    <!-- Movie Modal -->
    <div id="movie-details-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content modal-container">
            <button class="modal-close">&times;</button>
            <div id="movie-details-container"></div>
        </div>
    </div>

    <!-- Add To List Modal -->
    <div id="add-to-list-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content modal-container">
            <button class="modal-close close-add-to-list">&times;</button>
            <div id="add-to-list-container">

            </div>
        </div>
    </div>

    <!--Show details Partial view pop up-->
    <div id="show-details-modal" class="modal-overlay" style="display: none;">
        <div class="modal-content">
            <button class="modal-close show-close">&times;</button>
            <div id="show-details-container"></div>
        </div>
    </div>
</body>
</html>
